---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


{% assign courses = site.teaching_hgw | where_exp: "item", "item.path contains 'course_outline.md'" | sort: "semester" | reverse %}
{% assign semesters = courses | map: "semester" | uniq %}

{% for semester in semesters %}
  <h2>{{ semester }}</h2>
  {% for post in courses %}
    {% if post.semester == semester %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}