---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}

{% assign courses = site.teaching_hgw | where_exp: "item", "item.path contains 'course_outline.md'" | sort: "semester" | reverse %}
{% assign semesters = courses | map: "semester" | uniq %}

{% for semester in semesters %}
  <h2>{{ semester }}</h2>
  {% for post in courses %}
    {% if post.semester == semester %}
      {% assign lines = post.content | split: '\r\n' %} 
      {% assign excerpt_line = lines[0] %} 
      {{ excerpt_line }}
      ---
      {% include archive-single.html excerpt=excerpt_line %}
    {% endif %}
  {% endfor %}
{% endfor %}