---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


{% assign courses = site.teaching_hgw | where: "name", "course_outline.md" | sort: "semester" | reverse %}
{% assign semesters = courses | map: "semester" | uniq %}
<h1>Courses Offered</h1>
{% for semester in semesters %}
  <h2>{{ semester }}</h2>
  <ul>
    {% for course in courses %}
      {% if course.semester == semester %}
        <li>
          <a href="{{ course.url }}">{{ course.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}